.header {
}

.header__top {
}

.header__container {
  display: flex;
}

.header__top-container {
  align-items: center;
  justify-content: space-between;
}

.header__list {
}

.header__item {
}

.header__link {
}

.header__buttons {
}

.header__button {
}

.header__bottom {
}

.header__bottom-container {
	align-items: center;
	justify-content: center;
}
