@media (max-width: 1280px) {
  .product-info__img img {
    width: 500px;
  }
}

@media (max-width: 1024.98px) {
  /* index */
  .header__bottom {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: visibility 0.3s ease, transform 0.3s ease;
  }

  .header__bottom--active {
    visibility: visible;
    transform: none;
  }

  .nav {
    padding: 20px 40px;
  }

  .header__bottom-container {
    justify-content: flex-start;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__image {
    display: none;
  }

  .benefits__item,
  .products__item {
    grid-column: 6 span;
  }

  .product__top,
  .product__image {
    width: 100%;
  }

  .products__list {
    row-gap: var(--gap);
  }

  .footer__column {
    grid-column: 6 span;
  }

  .footer__top {
    row-gap: var(--gap);
  }

  .footer__form {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  /* about */
  .benefits__list {
    row-gap: var(--gap);
  }

  /* catalog */
  .catalog__products {
    --elems: 2;
  }

  /* product */
  .product-info__content {
    flex-direction: column;
    gap: 40px;
  }

  .product-info__text {
    padding-top: 0;
  }

  /* cart */
  .cart__content {
    padding: 40px;
  }

  .cart__row.cart__row--heading .cart__col--quantity {
    padding-left: 30px;
  }

  .cart__col--quantity {
    padding-left: 0;
  }

  .burger {
    display: block;
  }
}

/* mobile */
@media (max-width: 767.98px) {
  /* remove after finish */
  section,
  footer {
    display: none;
  }

  .hero,
  .benefits,
  .products,
  .newsletter,
  .about {
    display: block;
  }
  /* remove after finish end */

  :root {
    --container-offset: 24px;
    --gap: 16px;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    padding: 20px 55px;
  }

  /* hero */
  .hero {
    padding: 0;
  }

  .hero .container {
    padding: 0;
  }

  .hero__text {
    padding: 40px 24px;
  }

  .hero__link {
    order: 3;
    margin-top: 32px;
  }

  .hero__title {
    margin-bottom: 80px;
  }

  .btn {
    width: 100%;
  }

  /* benefits */
  .benefits {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .title {
    max-width: 274px;
  }

  .title--small {
    font-size: 20px;
    line-height: 1.4;
  }

  .title--centered {
    text-align: left;
  }

  .title--mb-l {
    margin-bottom: 36px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .benefits__item {
    grid-column: 4 span;
  }

  .benefits__subtitle {
    font-size: 16px;
  }

  .benefits__descr {
    font-size: 14px;
  }

  /* products */

  .products {
    padding-top: 48px;
    padding-bottom: 38px;
  }

  .title--large {
    font-size: 20px;
  }

  .title--mb-med {
    margin-bottom: 20px;
  }

  .products__item {
    grid-column: 2 span;
  }

  .product__image {
    height: 201px;
  }

  .products__list--mobile-slider {
    display: flex;
    width: calc(100% + var(--container-offset));
    overflow-x: auto;
  }

  .products__list--mobile-slider .products__item {
    width: 200px;
    flex-shrink: 0;
  }

  /* newsletter */
  .newsletter {
    padding: 0;
    background-color: var(--white);
  }

  .newsletter__content {
    padding: 48px 9px;
    align-items: flex-start;
  }

  .newsletter__title {
    max-width: none;
    font-size: 20px;
  }

  .newsletter__descr {
    margin-bottom: 60px;
    font-size: 14px;
    text-align: left;
  }

  .form__input {
    width: 224px;
  }

  .form__btn {
    padding: 16px 22px;
    width: auto;
  }

  /* about */
  .about__content {
    flex-direction: column;
  }

  .about__info {
    padding: 48px 24px;
    padding-bottom: 38px;
    width: 100%;
  }

  .about__image {
    width: 100%;
    height: 358px;
  }

  .about__btn {
    margin-top: 64px;
  }
}
