.products {
  padding-top: 80px;
  padding-bottom: 56px;
}
.products__title {
  margin-bottom: 33px;
}
.products__list {
}
.products__item {
}
.product {
}
.product__image {
}
.product__content {
}
.product__title {
}
.product__link {
}
.product__price {
}
