.title {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1.4;
  color: var(--dark-primary);
}

.title--small {
  font-size: 24px;
}

.title--large {
  font-size: 32px;
}

.title--xl {
  font-size: 36px;
}

.title--centered {
  text-align: center;
}

.title--mb-l {
  margin-bottom: 50px;
}

.title--mb-med {
  margin-bottom: 32px;
}

.title--mb-sm {
  margin-bottom: 16px;
}

.title--mb-xs {
  margin-bottom: 12px;
}